# environment variables for postgres processes
# This file has the same syntax as postgresql.conf:
#  VARIABLE = simple_value
#  VARIABLE2 = 'any value!'
# I. e. you need to enclose any value which does not only consist of letters,
# numbers, and '-', '_', '.' in single quotes. Shell commands are not
# evaluated.

export PGDATA='{{ postgres__cfg.__data_d }}'
export PATH='$PATH:{{ postgres__usr._bin_d }}'
