# PostgreSQL User Name Maps

{% for ident in postgres_ident_config %}
{% if ident.comment | length > 0 %}
# {{ ident.comment }}
{% endif %}
{{ ident.map_name }} {{ ident.system_username }} {{ ident.pg_username }}

{% endfor %}
{#
pg_ident.conf includes are processed differently from postgresql.conf; and
require NO quoting. See #18856.

Reference:
* https://www.postgresql.org/message-id/18856-378db632176b54e5%40postgresql.org
#}
{% if postgres_ident_include_dir | length > 0 %}
{% for dir in postgres_ident_include_dir %}
include_dir {{ dir }}
{% endfor %}
{% endif %}
{% if postgres_ident_include_if_exists | length > 0 %}
{% for dir in postgres_ident_include_if_exists %}
include_if_exists {{ dir }}
{% endfor %}
{% endif %}
{% if postgres_ident_include | length > 0 %}
{% for dir in postgres_ident_include %}
include {{ dir }}
{% endfor %}
{% endif %}