#!/bin/bash
#
# Backup & compression of Postgres DBs.
#
set -e
DATE_STAMP=`date +%Y-%m-%d`
OWNER='{{ _postgres_srv_user.raw }}'
GROUP='{{ _postgres_srv_group.raw }}'
TARGET='{{ _postgres_cfg_databases_backup_dir.raw }}'
OPTIONS='{{ _postgres_cfg_databases_backup_options.role }}'

function dump_all () {
  DUMP="${TARGET}/all-databases-${DATE_STAMP}.sql"
  /usr/bin/pg_dumpall ${OPTIONS} > "${DUMP}"
  chown ${OWNER}:${GROUP} "${DUMP}"
  chmod o-rwx "${DUMP}"
  ln -sf "${DUMP}" "${TARGET}/all-databases-latest.sql"

  compress_db all-databases
}

function dump_dbs () {
  /usr/bin/psql -t -d postgres -c 'select datname from pg_database where datistemplate = false;' | awk 'NF' | while read db; do
    DUMP="${TARGET}/${db}-${DATE_STAMP}.sql"
    /usr/bin/pg_dump ${OPTIONS} "${db}" > "${DUMP}"
    chown ${OWNER}:${GROUP} "${DUMP}"
    chmod o-rwx "${DUMP}"
    ln -sf "${DUMP}" "${TARGET}/${db}-latest.sql"
    compress_db "${db}"
  done
}

function compress_db () {
  # Args
  #   1: database name.
  #
  # Sort files by most recent time.
  # Ignore first two (latest symlink, current backup).
  # Compress with maximum xz compression & remove original sql file.
  # Only set tarball permissions if found.
  #
  # Assumes latest symlink always exists.
  ls -t "${TARGET}/${1}"-*.sql | awk 'NR>2' | xargs -i tar -I "xz -9" -cf {}.tar.xz {} --remove-files 2>/dev/null
  chown ${OWNER}:${GROUP} "*.tar.xz" 2>/dev/null || true
  chmod o-rwx "*.tar.xz" 2>/dev/null || true
}

{% if _postgres_cfg_databases_backup_all_enable.raw %}
dump_all
{% endif %}
{% if _postgres_cfg_databases_backup_individual_enable.raw %}
dump_dbs
{% endif %}